<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Random YouTube Video Generator</title>
</head>
<body>
    <h1>Random YouTube Video Generator</h1>
    <h3>Note: This randomises only videos of a particular channel</h3>
    <form action="/" method="post">
        <label for="channel_name">Enter the name of the YouTube channel:</label>
        <input type="text" id="channel_name" name="channel_name" required>
        <button type="submit">Go</button>
    </form>
</body>
</html>
